@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap%27');
:root {
    --font-principal: 'Roboto';
    --cor-principal: #003049;
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;    
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-principal), sans-serif; 
}
.height_auto {
    height: auto;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-dir-c {
    flex-direction: column;
}

.just-cont-c {
    justify-content: center;
}

.just-cont-sp {
    justify-content: space-between;
}

.just-cont-se {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

section {
    width: 100%;
    background-color: var(--cor-mais-claro);
    padding: 3%;
    box-sizing: border-box;
}

.box-pedido {
    width: 70%;
    background-color: var(--backgroud);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 2%;
}

input {
    width: 50%;
    font-size: large;
    text-align: center;
    border: solid 3px var(--cor-principal);
    border-radius: 5px;
    padding: 1%;
    box-sizing: border-box;
}

.add-button {
    width: 20%;
    font-size: large;
    color: white;
    background-color: var(--cor-principal);
}

.add-img-box {
    width: 20%;
    background-image: var(--cor-escuro);
}

.add-img-box img{
    width: 100%;
}

.container-info {
    width: 80%;
    padding: 1%;
    box-sizing: border-box;
    background-color: aqua;
}

form {
    width: 80%;
}

.box-button {
    width: 20%;
}

.pedido-button {
    width: 100%;
    font-size: large;
    padding: 1%;
    box-sizing: border-box;
    color: white;
    background-color: var(--cor-principal);
}

.img-box {
    width: 25%;
}

.img-box img {
    width: 100%;
}

.container-texto {
    width: 40%;
    text-align: center;
    font-size: large;
}

.nome, .texto, .preco {
    padding: 3%;
    box-sizing: border-box;
}

.box-buttons {
    width: 25%;
    padding: 1%;
    box-sizing: border-box;
}

.edit-button, .delete-button {
    width: 40%;
    font-size: large;
    color: white;
    padding: 1%;
    box-sizing: border-box;
}

.edit-button {
    background-color: var(--cor-principal);
}

.delete-button {
    background-color: #D62828;
}

.arraste {
    width: 10%;
}
