@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap%27');
:root {
    --font-principal: 'Roboto';
    --cor-principal: #003049;
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;    
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-principal), sans-serif; 
}
/* PRE-DEFINICOES */
.height_auto {
    height: auto;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-dir-c {
    flex-direction: column;
}

.just-cont-c {
    justify-content: center;
}

.just-cont-sp {
    justify-content: space-between;
}

.just-cont-se {
    justify-content: space-evenly;
}

.just-cont-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

section {
    width: 100%;
    background-color: var(--cor-mais-claro);
    padding: 3%;
    box-sizing: border-box;
}

.box-pedido, .box-secao {
    width: 80%;
    background-color: var(--backgroud);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 2%;
}

input, .form-add input {
    width: 50%;
    font-size: large;
    text-align: center;
    border: solid 3px var(--cor-principal);
    border-radius: 5px;
    padding: 1%;
    box-sizing: border-box;
}

.form-add input {
    width: 100%;
}

.add-button {
    width: 20%;
    font-size: large;
    color: white;
    background-color: var(--cor-principal);
    border-radius: 5px;
    border: none;
}

.add-img-box {
    width: 15%;
    background-image: var(--cor-escuro);
}

.add-img-box img{
    width: 100%;
}

.container-info {
    width: 80%;
    padding: 1%;
    box-sizing: border-box;
    background-color: aqua;
}

form {
    width: 70%;
    background-color: #D62828;
}

.box-button {
    width: 20%;
}

.pedido-button {
    width: 100%;
    font-size: large;
    padding: 1%;
    box-sizing: border-box;
    color: white;
    background-color: var(--cor-principal);
    border-radius: 5px;
    border: none;
}

.img-box {
    width: 25%;
}

.img-box img {
    width: 100%;
}

.container-texto {
    width: 40%;
    text-align: center;
    font-size: large;
}

.nome, .texto, .preco {
    padding: 3%;
    box-sizing: border-box;
}

.box-buttons {
    width: 25%;
    padding: 1%;
    box-sizing: border-box;
}

.edit-button, .delete-button {
    width: 40%;
    font-size: large;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.edit-button {
    background-color: var(--cor-principal);
}

.delete-button {
    background-color: #D62828;
}

.arraste {
    width: 15%;
}

.add-button:hover, .delete-button:hover, .edit-button:hover, .pedido-button:hover {
    background-color: var(--cor-claro);
}

.titulo, .arraste-box {
    width: 40%;
    background-color: aqua;
}

@media screen and (max-width: 1100px) {
   
    .imagembox {
        display: none;
    }
    .box-pedido {
        width: 100%;
    } 
}

@media screen and (max-width: 600px) {
    
    .box-pedido, .container-info {
        flex-wrap: wrap;
        justify-content: center;
    } 

    .texto-add, .add-button, .form-add, .container-info, .box-button, .box-secao, .img-box, .container-texto, .box-buttons {
        width: 100%;
    }

    .add-img-box, .arraste, .img-box {
        width: 25%;
    }
    .titulo-pagina {
        margin-top: 10%;
    }
}