body {
    background-color: #F77F00;
}

.titulo {
    text-align: center;
    padding-block: 1em;
    color: #F77F00;
}

.container {
    background-color: #003049;
    width: 90%;
    height: 847px;
    margin: 0 auto;
}

.teste {
    width: 100%;
    margin: 0 10%;
}

.produto {
    color: #F77F00;
    display: flex;
    width: 80%;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid 1px #F77F00;
}

.burger {
    width: 10%;
    margin-right: 100px;
}