body, html{
    height: 100%;
    margin: 0;
}

.rodape{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #003049;
    color: white;
    padding: 20px;
    text-align: center;
}

.titulo-ajuda, .titulo-desenvolvedores{
    font-size: 1.3rem;
    margin: 1rem 0rem;
    display: flex;
    
}

.texto-ajuda, .nomes{
    padding-bottom: 0.5rem;
    justify-content: center;
}

@media screen and (min-width: 1320px){
    .rodape{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
    }
}