@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:'Roboto';
}

/* Header */

header {
    background-color: #003049;
    top: 0;
    position: sticky;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    height: 5em;
    align-items: center;
    box-shadow: 0 5px 10px black;
}

.logo {
    width: 150px;
    margin-left: 2em;
}

.nav {
text-align: center;
}

.lista {
    display: inline-block;
    margin-left: 1em;
}

.lista_nav {
    text-decoration: none;
    font-size: 20px;
    color: #f77f00;
}

.lista_nav:hover {
    color: #FCBF49;
}

.botaoLogin {
    text-align: end;
    margin-right: 2em;
}

.login {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #d62828;
    color: #FFFFFF;
    border-radius: 0 10px;
    border: 0;
    margin: 0 auto;
}

.login:hover {
    background-color: #F77F00;
    color:  #EAE2B7;
}

.login:active {
    background-color: #FCBF49;
}

@media screen and (max-width: 660px) {
    header {
        grid-template-rows: 50% 50%;
        height: 7em;
    }

    .logo {
        margin-top: 0.5em;
        grid-column: 2;
    }

    .nav {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .botaoLogin {
        grid-row: 1;
        grid-column: 3;
    }
}
