@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap%27');
body {
    background-color: #F77F00;
    width: 100%;
}

.restaurante {
    position: absolute;
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: 0% 57%;
    z-index: -3;
    transform: scaleX(-1);
}

.logoFull {
    width: 700px;
    position: absolute;
    top: 25%;
    left: 100px;
    z-index: -2;
    filter: drop-shadow(0 5px 5px #000000);
}

.mulher {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 60%;
    z-index: -1;
    filter: drop-shadow(0 5px 10px #000000);
}

.coment {
    display: flex;
    padding: 1.5em 0;
}

.barraComent {
    display: grid;
    grid-template-columns: 3% 47% 47% 3%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px black;
    width: 100%;
    height: 9em;
    margin-top: 41em;
    align-items: center;
}

.seta {
    grid-column: 1;
    width: 40px;
    transform: rotate(180deg);
}

.seta2 {
    grid-column: 4;
    width: 40px;
    margin-left: auto;
}

/* Cardápio */

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container > header {
    background: #F77F00;
    text-align: center;
    padding-top: 1rem;
}

main {
    background: #F77F00;
    font-size: 20px;
    padding: 0 1em;
}

footer {
    background: #003049;
    height: 7rem;

}

/* NAV */
nav {
    background: #003049;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #ecedea;
    border-right: 1px solid #d4e4ef;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #ecedea;
    padding: 15px;
}

h1 {
    color: #F77F00;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: #003049;
    height: 1em;
}   
h2, h3, h4, h5, h6, h7 {
    color: #ecedea;
    background-color: #003049;
    border-right: 1px solid;
    display: inline-block;
    font-size: 15px;
    padding: 1rem;
}

.produto { margin-bottom: 20px; cursor: pointer; 
}
.produto p {
    background-color: #003049;
    color: whitesmoke;
    padding: 5px 10px;
}


#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}