body {
    background-color: #F77F00;
    font-family: Arial, sans-serif;
    font-family: var(--font-principal), sans-serif; 
    background-image: url(../_imagens/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  
.container {
    width: 30%;
    margin: 0% auto;
    margin-top: 00px;
    background-color: #f3db9a;
    padding: 20px;
    border-radius: 500px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    background-image: url(../_imagens/keroburguer.jpg);
   
}
  
h2 {
    text-align: center;
    color: green;
}
  
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid green;
    border-radius: 5px;
}
  
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-left: 5%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
  
input[type="submit"]:hover {
    background-color: darkgreen;
}
.botaocadastro {
    width: 50%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
.botaocadastro:hover {
    background-color: darkgreen;
}