@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif ;
}

:root{
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;

}

.corpo{
    background-color: var(--cor-claro);
    
}

.main-pedidos{
    width: 80%;
    background-color: var(--backgroud);
    padding: 6vw;
    display: block;
    margin: 0 auto;
}

.titulo-pedidos{
    text-align: center;
    font-size: 28px;
    display: flex;
    font-weight: 400;
    color: var(--cor-claro);
    margin-bottom: 1vh;
}
/*Inicio do andamento do pedido*/
.numero-pedidos{
    padding: 1em;
    border: 2px solid var(--cor-escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
}

.primeira-informacao{
    display: flex;
}

.texto-pedido{
    padding-right: 2rem;
    
}

.procedimento{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    padding: 2rem 2rem 0 2rem;
}

.processo{
    color: var(--cor-claro);
}

.distancia{
    padding-left: 1em;
}
/*Barra de progresso*/
.progresso{
    display: flex;
    justify-content: space-between;
    padding: 1em 7em;
    align-items: center;
}

.bolinha{
    background-color: var(--cor-claro);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.barra{
    background-color: var(--cor-claro);
    width: 250px;
    height: 8px;
}

.barra-claro{
    background-color: var(--cor-mais-claro); 
    width: 250px;
    height: 4px;
}

.bolinha-claro{
    background-color: var(--cor-mais-claro);
    width: 14px;
    height: 14px;
    border: 4px solid var(--cor-claro);
}
/*detalhes dos pedidos*/
.detalhes-pedidos{
    display: grid;
    grid-template-columns: 50% 50%;
}

.adicionais-pedido{
    color: var(--cor-claro);
    font-weight: 500;
}

.itens-adicionados{
    color: var(--cor-claro);
    font-weight: 500;
}

.endereco{
    padding-top: 1em;
}

.espacamento-textos{
    padding-bottom: 0.5rem;
}
/*detalhe dos valores do pedido*/
.detalhe-valores{
    display: flex;
    align-items: center;
}
.valores-texto{
    padding-right: 10rem;
}
.total-texto{
    padding-right: 11rem;
}

.cupom-texto{
    padding-right: 12.90rem;
}

.entrega-texto{
    padding-right: 5.80rem;
}

.espacamento-valores{
    padding-top: 1rem;
}

.estilo-barrinha{
    background-color: var(--cor-mais-claro);
    width: 30rem;
    height: 2px;
    margin: 1rem 0;
}

.total{
    padding-right: 13.50rem;
}

.imagem-mastercard{
    width: 8%;
}

/*botão para refazer o pedido*/

.refazer-pedido{
    border: 0;
    font-size: 1.5rem;
    background-color: var(--cor-escuro);
    color: var(--branco);
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 2em 0 0 10.1em;
}

.refazer-pedido:hover{
    background-color: var(--cor-claro);
}

.refazer-pedido:active{
    background-color: var(--cor-mais-claro);
    color: rgb(75, 74, 74);
}
