@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif ;
}

:root{
    --cor-titulo:#454343;
    --cor-botão: #fff;
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;

}

body{
    background-color: var(--cor-mais-claro);
}

.titulo-pedidos{
    text-align: center;
    font-size: 24px;
    margin: 5vw 0;
    color: #313030;

}
/* DESCRIÇÃO DA PRIMEIRA CAIXA DE INFORMAÇÕES */
.primeira-informacao{
    display: block;
    justify-content: space-around;
    font-weight: 500;
    background-color: var(--backgroud);
    border-radius: 10px;
    margin: 1rem 10px 0 5px;
    padding: 0.5rem;
    padding-top: 15px;
    box-shadow: 1px 1px 1px 1px black;
    text-decoration: none;
    color: #000;

}

.texto-pedido{
    font-size: 12px;
    margin-bottom: 0.5rem;
    color: var(--cor-titulo);
}

.numero-pedido{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.bolinha{
    height: 10px;
    width: 10px;
    background-color: rgb(28, 220, 28);
    border: 1px solid #000;
    border-radius: 15px;
}

.bolinha-laranja{
    height: 10px;
    width: 10px;
    background-color: var(--cor-claro);
    border: 1px solid #000;
    border-radius: 15px;
}

/* BOTÕES DE AJUDA E DE ACOMPANHAMENTO */

.acompanhar-pedido{
    display: flex;
    justify-content: space-around;
    margin: 15px 0 5px 0;
}

.detalhe-acompanhamento{
    text-decoration: none;
    color: var(--cor-botão);
    background-color: var(--cor-escuro);
    text-align: center;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (min-width: 720px) {
    .primeira-informacao{
        margin: 2rem 5rem 0 5rem;
        padding: 1rem 1.5rem;
    }

    .texto-pedido, p, .numero-pedido, .detalhe-acompanhamento{
        font-size: 1.2rem;
    }

    .bolinha, .bolinha-laranja{
        height: 15px;
        width: 15px;
    }
}

@media screen and (min-width: 1320px){
    .primeira-informacao{
        margin: 2rem 20rem 0 20rem;
        padding: 1rem 1.5rem;
    } 

    .titulo-pedidos{
        margin: 3vw 0;
    }
}