@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif ;
}

:root{
    --cor-titulo:#003049;
    --cor-botão: #fff;
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;

}

body{
    background-color: var(--cor-mais-claro);
    width: 100%;
}

.titulo-tipos-pagamento{
    text-align: center;
    padding: 2rem 0;
    background-color: #003049;
    color: white;
}

.texto-tipo-pagamento{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.botao{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #F77F00;
    border: 2px solid var(--cor-titulo);
    border-radius: 6px;
    margin: 1rem 8rem;
    padding: 0.5rem;
}

.tipos-pagamento{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media screen and (min-width: 1320px){
    .botao{
        margin: 1rem 50rem;
    }
}