@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif ;
}

:root{
    --cor-escuro: #D62828;
    --cor-claro: #F77F00;
    --cor-mais-claro: #FCBF49;
    --branco: #fff;
    --backgroud: #EAE2B7;
}
.corpo{
    background-color:#FCBF49;
}
.box{
    width: 80%;
    background-color: var(--backgroud);
    padding: 6vw;
    display: block;
    margin: 0 auto;
}
.sobre-nos{
    text-align: center;
    font-size: 28px;
    display: flex;
    font-weight: 400;
    color: var(--cor-claro);
    margin-bottom: 1vh;
}
.texto{
    padding: 1em;
    border: 2px solid var(--cor-escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
}
.container-form{
    padding: 1em;
    border: 2px solid var(--cor-escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 50px;
}
.endereco{
    font-size: 28px;
    display: flex;
    font-weight: 400;
    color: var(--cor-claro);
    margin-top: 30px;
    text-align: center;
}
.horario{
    font-size: 28px;
    display: flex;
    font-weight: 400;
    color: var(--cor-claro);
    margin-top: 30px;
}
tr, td{
    padding: 1em;
    border: 2px solid var(--cor-escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
}
