.body{
    background-image:url(_imagens/fundo_2.jpg);
    background-repeat: repeat;
}
.cadastro{
    width: 1000px;
    height: 500px;
    display: flex;
}
.boxlado{
    width: 400px;
    height: 500px;
    float: left;
}
.formulariocadastro{
    width: 600px;
    height: 400px;
    background-color: #f3db9a;
    display: block;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    
    
}